.cookie-banner-section {
  background: #1e2013;
  padding: 32px 0;
  width: 100%;
  max-width: 343px;
  border-radius: 32px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: none;

  @include media(desktop) {
    max-width: 1262px;
  }
}

.cookie-container {
  padding: 0 32px;

  @include media(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.cookie-banner-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 0;
    max-width: 622px;
    text-align: left;
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    gap: 32px;
  }
}

.cookie-btn {
  width: 100%;
  max-width: 256px;
  border-radius: 28px;
  padding: 16px 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;

  @include media(desktop) {
    width: 256px;
  }
}

.accept-btn {
  background: #fff;
  color: #1e2013;
}

.decline-btn {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

.show-cookie-banner {
  display: block;

  @include media(desktop) {
    display: flex;
  }
}
