.header {
  padding-top: 20px;
  padding-bottom: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  background: #e8e5e0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    // justify-content: center;
  }
}

.header-logo-link {
  width: 44px;
  height: 44px;
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    gap: 18px;
  }
}

.nav-list-link {
  font-family: 'Petrona', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1e2013;

  &:hover,
  &.active {
  }
}

.nav-list-link.active {
}

.nav-btn {
  width: 44px;
  height: 44px;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  width: 44px;
  height: 44px;

  @include media(desktop) {
    display: none;
  }
}
