.mentors-section {
  background: $_main_bg_color;
  padding-top: 40px;
  padding-bottom: 40px;
  scroll-margin-top: 56px;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    scroll-margin-top: 52px;
  }
}

.mentors-top-wrapper {
  padding-bottom: 32px;
}

.mentors-title {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  word-break: break-word;

  @include media(desktop) {
    margin-bottom: 60px;
  }
}

.mentors-subtitle {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  word-break: break-word;

  @include media(desktop) {
    font-size: 40px;
  }
}

.mentors-bottom-wrapper {
  padding-top: 16px;
  border-top: 1px solid #50567c;

  @include media(desktop) {
    padding-top: 24px;
  }
}

.mentors-bottom-swiper-wrapper {
  max-width: 375px;
  overflow: hidden;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.mentors-swiper-container {
  max-width: 324px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 430px;
  }
}

.mentors-swiper-container.show {
  visibility: visible;
}

.mentors-slide {
  border: 1px solid #50567c;
  padding: 0;
  max-width: 324px;
  height: 681px !important;

  @include media(desktop) {
    max-width: 430px;
  }
}

.mentors-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
  }
}

.mentors-img {
  object-fit: cover;
}

.mentors-item-text-wrapper {
  padding: 16px;

  @include media(desktop) {
    padding: 30px 22px;
  }
}

.mentors-item-name {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  margin-bottom: 4px;
}

.mentors-item-nickname {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
  color: #a5a9bc;
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 16px;
  }
}

.mentors-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.42;
  color: #a5a9bc;
}
