.programs-section {
  background: $_main_bg_color;
  padding-top: 40px;
  padding-bottom: 40px;
  scroll-margin-top: 56px;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    scroll-margin-top: 52px;
  }
}

.programs-top-wrapper {
  padding-bottom: 32px;
}

.programs-title {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;

  @include media(desktop) {
    margin-bottom: 60px;
  }
}

.programs-subtitle {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  word-break: break-word;

  @include media(desktop) {
    font-size: 40px;
    max-width: 1016px;
  }
}

.programs-bottom-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #50567c;
  border-bottom: 1px solid #50567c;

  @include media(desktop) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.programs-bottom-swiper-wrapper {
  max-width: 375px;
  overflow: hidden;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.programs-swiper-container {
  max-width: 308px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 408px;
  }
}

.programs-swiper-container.show {
  visibility: visible;
}

.programs-slide {
  border-left: 1px solid #50567c;
  padding: 0 16px 0 16px;
  max-width: 308px;
  height: 390px !important;

  &:last-child {
    border-right: 1px solid #50567c;
  }

  @include media(desktop) {
    max-width: 408px;
    height: 329px !important;
  }
}

.programs-slide-top-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #a5a9bc;
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 34.5px;
  }
}

.programs-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 34.5px;
  }
}

.programs-slide-img {
  width: 97px;
  height: 100px;
  overflow: hidden;
}

.programs-img3 {
  width: 116px;
}

.programs-img4 {
  width: 99px;
}

.programs-img5 {
  width: 105px;
}

.programs-slide-text-wrapper {
  height: 190px;
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    height: 140px;
  }
}

.programs-item-subtitle {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

.programs-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.42;
  color: #a5a9bc;
  word-break: break-word;
  margin-top: auto;
}
