<section id="cookie-banner" class="cookie-banner-section">
  <div class="container cookie-container">
    <div class="cookie-banner-text-wrapper">
      <h2 class="cookie-banner-title">Cookies</h2>
      <p class="cookie-banner-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
    </div>
    <div class="cookie-banner-buttons">
      <button class="cookie-btn accept-btn" id="cookie-accept">
        Accept Cookies
      </button>
      <button class="cookie-btn decline-btn" id="cookie-decline">
        Decline cookies
      </button>
    </div>
  </div>
</section>
