<section id="cookie-banner" class="cookie-banner-section">
  <div class="container cookie-container">
    <p class="cookie-banner-text">
      Używamy plików cookie, aby poprawić Twoje doświadczenia na naszej stronie
      internetowej. Przeglądając tę stronę, zgadzasz się na nasze użycie plików
      cookie.
    </p>
    <div class="cookie-banner-buttons">
      <button class="cookie-btn accept-btn" id="cookie-accept">
        Akceptuj ciasteczka
      </button>
      <button class="cookie-btn decline-btn" id="cookie-decline">
        Odrzuć ciasteczka
      </button>
    </div>
  </div>
</section>
