<section class="contacts-section" id="contacts">
  <div class="container contacts-container">
    <div class="contacts-text-wrapper">
      <h2 class="contacts-title section-title">Kontakt</h2>
      <p class="contacts-text">Masz pytanie lub potrzebujesz wsparcia?</p>
      <address class="contacts-address">
        <a class="contacts-address-link" href="mailto:info@stormmasterpath.com"
          >info@stormmasterpath.com</a
        >
        <p class="contacts-address-text">Globalny zespół wsparcia 24/7</p>
      </address>
    </div>
    <img
      class="contacts-img"
      src="./img/contacts/contacts-img-desk.png"
      alt="Maze puzzle"
      width="480"
      height="234"
      loading="lazy"
    />
  </div>
</section>
