<section class="policy-section">
  <div class="container policy-container">
    <h2 class="policy-title">Polityka plików cookie</h2>
    <p class="policy-text">
      Niniejsza Polityka plików cookie wyjaśnia, czym są pliki cookie i jak ich
      używamy. Powinieneś przeczytać tę politykę, aby zrozumieć, jakiego rodzaju
      plików cookie używamy, lub informacje, które zbieramy za pomocą plików
      cookie i w jaki sposób te informacje są wykorzystywane.<br />
      Pliki cookie zazwyczaj nie zawierają żadnych informacji, które
      identyfikują użytkownika, ale dane osobowe, które przechowujemy na Twój
      temat, mogą być powiązane z informacjami przechowywanymi w plikach cookie
      i uzyskiwanymi z nich. Aby uzyskać więcej informacji na temat tego, jak
      używamy, przechowujemy i chronimy Twoje dane osobowe, zapoznaj się z naszą
      Polityką prywatności.<br />
      Nie przechowujemy poufnych danych osobowych, takich jak adresy pocztowe,
      hasła do kont itp. w plikach cookie, których używamy. 
    </p>
    <h2 class="policy-secondary-title">Interpretacja i definicje</h2>
    <h3 class="policy-subtitle">Interpretacja</h3>
    <p class="policy-text">
      Słowa, których pierwsza litera jest pisana wielką literą, mają znaczenie
      zdefiniowane na następujących warunkach. Poniższe definicje mają takie
      samo znaczenie niezależnie od tego, czy występują w liczbie pojedynczej
      czy mnogiej. 
    </p>
    <h3 class="policy-subtitle">Definicje</h3>
    <p class="policy-text">
      Na potrzeby niniejszej Polityki plików cookie:<br />
      <span>&ensp;·&ensp;</span>Firma (określana w niniejszej Polityce plików
      cookie jako „Firma”, „My”, „Nas” lub „Nasz”) odnosi się do Epic Victory
      Hub.<br />
      <span>&ensp;·&ensp;</span>Pliki cookie oznaczają małe pliki umieszczane na
      Twoim komputerze, urządzeniu mobilnym lub innym urządzeniu przez witrynę
      internetową, zawierające szczegóły dotyczące historii przeglądania tej
      witryny internetowej wśród jej wielu zastosowań.<br />
      <span>&ensp;·&ensp;</span>Witryna odnosi się do Epic Victory Hub,
      dostępnej z epicvictoryhub.com<br />
      <span>&ensp;·&ensp;</span>Ty oznacza osobę uzyskującą dostęp lub
      korzystającą z Witryny, lub firmę lub jakikolwiek podmiot prawny, w
      imieniu którego taka osoba uzyskuje dostęp lub korzysta z Witryny, w
      stosownych przypadkach. 
    </p>
    <h2 class="policy-secondary-title">Użycie plików cookie</h2>
    <h3 class="policy-subtitle">Rodzaj plików cookie, których używamy</h3>
    <p class="policy-text">
      Pliki cookie mogą być plikami cookie „stałymi” lub „sesyjnymi”. Trwałe
      pliki cookie pozostają na Twoim komputerze osobistym lub urządzeniu
      mobilnym, gdy przejdziesz w tryb offline, podczas gdy pliki cookie sesji
      są usuwane, gdy tylko zamkniesz przeglądarkę internetową.<br />
      Używamy zarówno plików cookie sesyjnych, jak i trwałych w celach
      określonych poniżej:<br />
      <span>&ensp;·&ensp;</span>Niezbędne pliki cookie<br />
      Typ: Pliki cookie sesyjne<br />
      Administrator: My<br />
      Cel: Te pliki cookie są niezbędne do świadczenia Ci usług dostępnych za
      pośrednictwem Witryny i umożliwienia Ci korzystania z niektórych jej
      funkcji. Pomagają uwierzytelniać użytkowników i zapobiegać oszukańczemu
      korzystaniu z kont użytkowników. Bez tych plików cookie nie można
      świadczyć usług, o które poprosiłeś, a my używamy tych plików cookie
      wyłącznie do świadczenia Ci tych usług.<br />
      <span>&ensp;·&ensp;</span>Pliki cookie funkcjonalne<br />
      Typ: Trwałe pliki cookie<br />
      Administrator: My<br />
      Cel: Te pliki cookie pozwalają nam zapamiętać wybory, których dokonujesz
      podczas korzystania z Witryny, takie jak zapamiętywanie danych logowania
      lub preferencji językowych. Celem tych plików cookie jest zapewnienie Ci
      bardziej osobistego doświadczenia i uniknięcie konieczności ponownego
      wprowadzania swoich preferencji za każdym razem, gdy korzystasz z
      Witryny. 
    </p>
    <h3 class="policy-subtitle">Twoje wybory dotyczące plików cookie</h3>
    <p class="policy-text">
      Jeśli wolisz unikać używania plików cookie w Witrynie, najpierw musisz
      wyłączyć używanie plików cookie w swojej przeglądarce, a następnie usunąć
      pliki cookie zapisane w przeglądarce powiązanej z tą witryną. Możesz użyć
      tej opcji, aby zapobiec używaniu plików cookie w dowolnym momencie.<br />
      Jeśli nie akceptujesz naszych plików cookie, możesz napotkać pewne
      niedogodności w korzystaniu ze Strony internetowej, a niektóre funkcje
      mogą nie działać prawidłowo.<br />
      Jeśli chcesz usunąć pliki cookie lub polecić przeglądarce internetowej
      usunięcie lub odrzucenie plików cookie, odwiedź strony pomocy swojej
      przeglądarki internetowej.<br />
      <span>&ensp;·&ensp;</span>W przypadku przeglądarki internetowej Chrome
      odwiedź tę stronę Google:
      <a
        class="policy-link support-link"
        href="https://support.google.com/accounts/answer/32050"
        >https://support.google.com/accounts/answer/32050</a
      ><br />
      <span>&ensp;·&ensp;</span>W przypadku przeglądarki internetowej Internet
      Explorer odwiedź tę stronę Microsoft:
      <a
        class="policy-link support-link"
        href="http://support.microsoft.com/kb/278835"
        >http://support.microsoft.com/kb/278835</a
      ><br />
      <span>&ensp;·&ensp;</span>W przypadku przeglądarki internetowej Firefox
      odwiedź tę stronę firmy Mozilla:
      <a
        class="policy-link support-link"
        href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored"
        >https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a
      ><br />
      <span>&ensp;·&ensp;</span>W przypadku przeglądarki internetowej Safari
      odwiedź ta strona od Apple:
      <a
        class="policy-link support-link"
        href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac"
        >https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a
      ><br />
      W przypadku innej przeglądarki internetowej odwiedź jej oficjalne strony
      internetowe. 
    </p>
    <h3 class="policy-subtitle">Więcej informacji o plikach cookie</h3>
    <p class="policy-text">
      Możesz dowiedzieć się więcej o plikach cookie:
      <a
        class="policy-link support-link"
        href="https://www.freeprivacypolicy.com/blog/cookies/"
        >Pliki cookie: co robią?</a
      >.<br />
      Niniejsza polityka plików cookie obowiązuje od 2025-04-01 
    </p>
    <h3 class="policy-subtitle">Skontaktuj się z nami</h3>
    <p class="policy-text">
      Jeśli masz jakiekolwiek pytania dotyczące niniejszej Polityki plików
      cookie, możesz się z nami skontaktować za pośrednictwem poczty e-mail:<br />
      <a class="support-link" href="mailto:info@epicvictoryhub.com"
        >info@epicvictoryhub.com</a
      >.
    </p>
  </div>
</section>
