<section class="courses-section" id="courses">
  <div class="container courses-container">
    <div class="courses-wrapper">
      <h2 class="section-title courses-title">Kursy</h2>
      <p class="courses-subtitle">Ucz się Świadomego Działania</p>
      <picture>
        <source
          srcset="./img/courses/courses-img-desk.png"
          media="(min-width: 1440px)"
          width="1120"
          height="298"
        />
        <source
          srcset="./img/courses/courses-img-mob.png"
          width="343"
          height="148"
        />
        <img
          class="courses-img"
          src="./img/courses/courses-img-mob.png"
          alt="Maze puzzle"
          width="343"
          height="148"
          loading="lazy"
        />
      </picture>
      <p class="courses-subtitle">Decyzja jako Sztuka</p>
      <p class="courses-text">
        Kurs uczy podejmowania decyzji jako umiejętności. Redukuj przeciążenie,
        identyfikuj błędy poznawcze i podejmuj mniej, ale lepszych decyzji.
        Zawiera ćwiczenia, arkusze i metodę „Decision Flow”.
      </p>
      <ul class="courses-list">
        <li class="courses-list-item">
          <h3 class="courses-item-title">Strategiczne Projektowanie Życia</h3>
          <p class="courses-item-text">
            Życie nie musi być przypadkowe. Kurs pomaga zaprojektować świadome
            życie: od wartości, przez misję, po konkretne eksperymenty. To
            planowanie strategiczne dla Twojego życia.
          </p>
        </li>
        <li class="courses-list-item">
          <h3 class="courses-item-title">Umysł Mistrza</h3>
          <p class="courses-item-text">
            Zarządzanie światem wewnętrznym w świecie pełnym bodźców. Rozwijaj
            świadomość szumów mentalnych, wycieków uwagi i lęków. Naucz się
            technik ochrony uwagi i świadomego reagowania.
          </p>
        </li>
        <li class="courses-list-item">
          <h3 class="courses-item-title">Scenariusze Przyszłości</h3>
          <p class="courses-item-text">
            Adaptacja to supermoc. Naucz się projektować scenariusze, planować
            odporność i działać strategicznie w niepewności.
          </p>
        </li>
        <li class="courses-list-item">
          <h3 class="courses-item-title">Kod Priorytetów</h3>
          <p class="courses-item-text">
            O tym, co naprawdę ważne. Naucz się oceniać pilność vs znaczenie,
            projektować idealny tydzień i eliminować pochłaniacze czasu i
            energii.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
