<section class="equipment-section" id="equipment">
  <div class="equipment-top-wrapper">
    <div class="container">
      <h2 class="equipment-title">
        <svg class="arrow-icon" width="8" height="8">
          <use href="./img/sprite.svg#icon-ellipse"></use></svg
        >Sprzęt i technologia
      </h2>
      <p class="equipment-subtitle">
        Zoptymalizowane środowisko dla profesjonalnego gamingu
      </p>
    </div>
  </div>
  <div class="equipment-bottom-wrapper">
    <div class="container equipment-bottom-container">
      <div class="equipment-img-wrapper">
        <picture>
          <source
            srcset="./img/equipment/equipment-img-desk.jpg"
            media="(min-width: 1440px)"
            width="440"
            height="293"
          />
          <source
            srcset="./img/equipment/equipment-img-mob.jpg"
            width="343"
            height="228"
          />
          <img
            class="equipment-img"
            src="./img/equipment/equipment-img-mob.jpg"
            alt="Photo of equipment"
            width="343"
            height="228"
            loading="lazy"
          />
        </picture>
      </div>
      <ul class="equipment-list">
        <li class="equipment-list-item">
          <div class="equipment-item-text-wrapper">
            <h3 class="equipment-item-title">
              Komputery gamingowe klasy premium
            </h3>
            <p class="equipment-item-text">
              Najnowsze karty graficzne i procesory.
            </p>
          </div>
        </li>
        <li class="equipment-list-item">
          <div class="equipment-item-text-wrapper">
            <h3 class="equipment-item-title">Monitory 240Hz</h3>
            <p class="equipment-item-text">
              Ultra-płynna rozgrywka bez opóźnień.
            </p>
          </div>
        </li>
        <li class="equipment-list-item">
          <div class="equipment-item-text-wrapper">
            <h3 class="equipment-item-title">Sprzęt dla e-sportowców</h3>
            <p class="equipment-item-text">
              Mechaniczne klawiatury, myszki o wysokiej precyzji.
            </p>
          </div>
        </li>
        <li class="equipment-list-item">
          <div class="equipment-item-text-wrapper">
            <h3 class="equipment-item-title">Dźwięk przestrzenny</h3>
            <p class="equipment-item-text">
              Zestawy słuchawkowe z zaawansowaną izolacją dźwięku.
            </p>
          </div>
        </li>
        <li class="equipment-list-item">
          <div class="equipment-item-text-wrapper">
            <h3 class="equipment-item-title">Dedykowane studio streamingowe</h3>
            <p class="equipment-item-text">
              Profesjonalne kamery, oświetlenie i green screen.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
