<section class="faq-section" id="faq">
  <div class="container faq-container">
    <div class="faq-wrapper">
      <h2 class="faq-title section-title">Najczęściej Zadawane Pytania</h2>
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Czy to platforma coachingowa?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Nie. StormMasterPath to system samo-prowadzący z narzędziami,
            treściami i wyzwaniami wspierającymi samodzielny rozwój. Nie
            korzystasz z osobistego coacha – zamiast tego dostajesz system
            zaprojektowany tak, byś sam mógł rozwijać swoje strategie myślenia i
            działania. To podejście wspiera niezależność i samoświadomość. Każdy
            użytkownik staje się swoim własnym mentorem. Dzięki temu uczysz się
            podejmować decyzje w oparciu o własne wartości i kontekst.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Czy muszę być liderem lub przedsiębiorcą?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Czy są certyfikaty?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Czy działa na telefonie?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Czy platforma jest interaktywna?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Jakie wsparcie jest dostępne?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Ile trwają kursy?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Czy potrzebuję wcześniejszego doświadczenia?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Czy narzędzia są do pobrania?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Czy mogę anulować subskrypcję w dowolnym momencie?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Co się dzieje po ukończeniu 10-dniowego wyzwania?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Czy jest element grywalizacji?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Czy można to stosować w zespole?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Czy są sesje na żywo?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Co wyróżnia StormMasterPath?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-down"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text"></p>
        </li>
      </ul>
    </div>
  </div>
</section>
