<footer class="footer" id="footer">
  <div class="footer-top-wrapper">
    <div class="container footer-container">
      <h2 class="footer-title section-title">Kontakt</h2>
      <p class="footer-text">Zacznij swoją drogę do zwycięstwa już dziś!</p>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="container footer-bottom-container">
      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a
              class="footer-address-link"
              href="mailto:kontakt@epicvictoryhub.com"
              >kontakt@epicvictoryhub.com</a
            >
          </li>
          <li class="footer-address-item">
            <p class="footer-address-link">ul. Graczy 12, Warszawa, Polska</p>
          </li>
          <li class="footer-address-item">
            <a class="footer-address-link" href="tel:+48600123456"
              >+48 600 123 456</a
            >
          </li>
        </ul>
      </address>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a class="footer-nav-link" href="./privacy-policy.html"
              >Polityka prywatności</a
            >
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-link" href="./terms-and-conditions.html"
              >Regulamin</a
            >
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-link" href="./cookies-policy.html"
              >Polityka plików cookie</a
            >
          </li>
        </ul>
      </nav>
      <p class="footer-bottom-text">
        © 2025 epicvictoryhub.com, Wszelkie prawa zastrzeżone.
      </p>
    </div>
  </div>
</footer>
