<section class="hero-section" id="hero">
  <div class="container">
    <h1 class="hero-title">Opanuj Sztukę Decyzji i Działania</h1>
    <p class="hero-text">
      Witamy w cyfrowym dojo dla nowoczesnych myślicieli. Naucz się myśleć jak
      lider, projektować jak wizjoner i działać z klarownością.
    </p>
    <p class="hero-bottom-text">
      Klarowność w chaosie<br />
      Mądrość w podejmowaniu decyzji<br />
      Siła w ruchu
    </p>
    <a class="hero-link" href="#">Wejdź na Ścieżkę Stratega</a>
  </div>
</section>
