<section class="hero-section" id="hero">
  <div class="hero-title-wrapper">
    <div class="container hero-title-container">
      <h1 class="hero-title">
        Epic Victory
        <span class="hero-title-span"
          ><picture>
            <source
              srcset="./img/hero/hero-logo-desk.png"
              media="(min-width: 1440px)"
              width="98"
              height="100" />
            <source
              srcset="./img/hero/hero-logo-mob.png"
              width="57"
              height="58" />
            <img
              class="hero-img"
              src="./img/hero/hero-logo-mob.png"
              alt="Logo"
              width="57"
              height="58" /></picture
          >Hub</span
        >
      </h1>
      <a class="hero-scroll-link-desk" href="#footer"
        >scroll down<svg class="arrow-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow-down"></use></svg
      ></a>
    </div>
  </div>
  <div class="hero-content-wrapper">
    <div class="hero-img-wrapper">
      <div class="container hero-text-container">
        <picture>
          <source
            srcset="./img/hero/hero-controller-desk.jpg"
            media="(min-width: 1440px)"
            width="662"
            height="290" />
          <source
            srcset="./img/hero/hero-controller-mob.jpg"
            width="343"
            height="290" />
          <img
            class="hero-img"
            src="./img/hero/hero-controller-mob.jpg"
            alt="Controller"
            width="343"
            height="290"
        /></picture>
      </div>
    </div>
    <div class="hero-text-wrapper">
      <div class="container hero-text-container">
        <h2 class="hero-subtitle">
          Twój pierwszy krok do profesjonalnej kariery w
          <span class="hero-subtitle-span">e-sporcie</span>
        </h2>
        <p class="hero-text">
          Epic Victory Hub to nowoczesne centrum szkoleniowe, które łączy pasję
          do gier ze światem profesjonalnej rywalizacji. Oferujemy kompleksowe
          programy szkoleniowe, mentoring przez doświadczonych graczy oraz
          najlepsze warunki do rozwijania umiejętności.
        </p>
        <p class="hero-bottom-text">
          Nasze centrum to miejsce, gdzie każdy może odnaleźć swoją drogę do
          sukcesu. Oferujemy profesjonalne szkolenia, analizy meczów,
          optymalizację strategii oraz wsparcie mentalne, które są kluczowe w
          drodze do e-sportowej kariery.
        </p>
        <a class="hero-scroll-link" href="#footer"
          >scroll down<svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-down"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
