<section class="mentors-section" id="mentors">
  <div class="mentors-top-wrapper">
    <div class="container mentors-top-container">
      <h2 class="mentors-title">
        <svg class="arrow-icon" width="8" height="8">
          <use href="./img/sprite.svg#icon-ellipse-white"></use></svg
        >Trenerzy i mentorzy
      </h2>
      <p class="mentors-subtitle">Ucz się od najlepszych</p>
    </div>
  </div>
  <div class="mentors-bottom-wrapper">
    <div class="mentors-bottom-swiper-wrapper">
      <div class="mentors-swiper-container">
        <ul class="swiper-wrapper mentors-swiper-wrapper">
          <li class="swiper-slide mentors-slide">
            <div class="mentors-slide-wrapper">
              <div class="mentors-img-wrapper">
                <picture>
                  <source
                    srcset="./img/mentors/mentors-tomasz-desk.jpg"
                    media="(min-width: 1440px)"
                    width="430"
                    height="475"
                  />
                  <source
                    srcset="./img/mentors/mentors-tomasz-mob.jpg"
                    width="324"
                    height="459"
                  />
                  <img
                    class="mentors-img"
                    src="./img/mentors/mentors-tomasz-mob.jpg"
                    alt="Title"
                    width="324"
                    height="459"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="mentors-item-text-wrapper">
                <h2 class="mentors-item-name">Tomasz Kowalski</h2>
                <p class="mentors-item-nickname">"shadow"</p>
                <p class="mentors-item-text">
                  Specjalista w grach FPS (CS:GO, Valorant), mistrz analizy
                  taktycznej.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide mentors-slide">
            <div class="mentors-slide-wrapper">
              <div class="mentors-img-wrapper">
                <picture>
                  <source
                    srcset="./img/mentors/mentors-ewa-desk.jpg"
                    media="(min-width: 1440px)"
                    width="430"
                    height="475"
                  />
                  <source
                    srcset="./img/mentors/mentors-ewa-mob.jpg"
                    width="324"
                    height="459"
                  />
                  <img
                    class="mentors-img"
                    src="./img/mentors/mentors-ewa-mob.jpg"
                    alt="Title"
                    width="324"
                    height="459"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="mentors-item-text-wrapper">
                <h2 class="mentors-item-name">Ewa Nowak</h2>
                <p class="mentors-item-nickname">"storm"</p>
                <p class="mentors-item-text">
                  Trenerka drużynowa MOBA (League of Legends, Dota 2), ekspertka
                  w zakresie strategii drużynowej.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide mentors-slide">
            <div class="mentors-slide-wrapper">
              <div class="mentors-img-wrapper">
                <picture>
                  <source
                    srcset="./img/mentors/mentors-mateusz-desk.jpg"
                    media="(min-width: 1440px)"
                    width="430"
                    height="475"
                  />
                  <source
                    srcset="./img/mentors/mentors-mateusz-mob.jpg"
                    width="324"
                    height="459"
                  />
                  <img
                    class="mentors-img"
                    src="./img/mentors/mentors-mateusz-mob.jpg"
                    alt="Title"
                    width="324"
                    height="459"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="mentors-item-text-wrapper">
                <h2 class="mentors-item-name">Mateusz Wiśniewski</h2>
                <p class="mentors-item-nickname">"flash"</p>
                <p class="mentors-item-text">
                  Szkoleniowiec refleksu i precyzji, programy optymalizacji
                  reakcji.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide mentors-slide">
            <div class="mentors-slide-wrapper">
              <div class="mentors-img-wrapper">
                <picture>
                  <source
                    srcset="./img/mentors/mentors-katarzyna-desk.jpg"
                    media="(min-width: 1440px)"
                    width="430"
                    height="475"
                  />
                  <source
                    srcset="./img/mentors/mentors-katarzyna-mob.jpg"
                    width="324"
                    height="459"
                  />
                  <img
                    class="mentors-img"
                    src="./img/mentors/mentors-katarzyna-mob.jpg"
                    alt="Title"
                    width="324"
                    height="459"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="mentors-item-text-wrapper">
                <h2 class="mentors-item-name">Katarzyna Zielińska</h2>
                <p class="mentors-item-nickname">"Focus"</p>
                <p class="mentors-item-text">
                  Psycholog e-sportowy, wsparcie w radzeniu sobie ze stresem i
                  presją.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide mentors-slide">
            <div class="mentors-slide-wrapper">
              <div class="mentors-img-wrapper">
                <picture>
                  <source
                    srcset="./img/mentors/mentors-michal-desk.jpg"
                    media="(min-width: 1440px)"
                    width="430"
                    height="475"
                  />
                  <source
                    srcset="./img/mentors/mentors-michal-mob.jpg"
                    width="324"
                    height="459"
                  />
                  <img
                    class="mentors-img"
                    src="./img/mentors/mentors-michal-mob.jpg"
                    alt="Title"
                    width="324"
                    height="459"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="mentors-item-text-wrapper">
                <h2 class="mentors-item-name">Michał Lewandowski</h2>
                <p class="mentors-item-nickname">"Vision"</p>
                <p class="mentors-item-text">
                  Ekspert ds. budowania marki gracza, trener w zakresie
                  streamingu i monetyzacji treści.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
