<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#hero">O nas</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#mission">Nasza misja</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#programs"
          > Programy szkoleniowe</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#mentors"
          >Trenerzy i mentorzy</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#equipment"
          >Sprzęt i technologia</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#prices"
          >Członkostwo i ceny</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#footer">Kontakt</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./privacy-policy.html"
          >Polityka prywatności</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./terms-and-conditions.html"
          >Regulamin</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./cookies-policy.html"
          >Polityka plików cookie</a
        >
      </li>
    </ul>
  </nav>
</div>
