<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#hero">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#mission">Ścieżka</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#programs">Narzędzia</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#mentors">Kursy</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#equipment"
          >Wyzwania Umysłowe</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#prices">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#footer">Kontakt</a>
      </li>
    </ul>
  </nav>
</div>
