<section class="mission-section" id="mission">
  <div class="mission-top-wrapper">
    <div class="container">
      <h2 class="mission-title">
        <svg class="arrow-icon" width="8" height="8">
          <use href="./img/sprite.svg#icon-ellipse"></use></svg
        >Nasza misja
      </h2>
      <p class="mission-subtitle">Nie tylko gra, ale droga do mistrzostwa</p>
    </div>
  </div>
  <div class="mission-bottom-wrapper">
    <div class="container mission-bottom-container">
      <p class="mission-text">
        Naszym celem jest nie tylko doskonalenie umiejętności graczy, ale
        również:
      </p>
      <ul class="mission-list">
        <li class="mission-list-item">
          <span class="mission-item-number">(01)</span>
          <div class="mission-item-text-wrapper">
            <h3 class="mission-item-title">Budowanie mentalności zwycięzcy</h3>
            <p class="mission-item-text">
              Nauka zarządzania stresem i koncentracji.
            </p>
          </div>
        </li>
        <li class="mission-list-item">
          <span class="mission-item-number">(02)</span>
          <div class="mission-item-text-wrapper">
            <h3 class="mission-item-title">Tworzenie profesjonalnych drużyn</h3>
            <p class="mission-item-text">
              Wspieranie współpracy i komunikacji w grze.
            </p>
          </div>
        </li>
        <li class="mission-list-item">
          <span class="mission-item-number">(03)</span>
          <div class="mission-item-text-wrapper">
            <h3 class="mission-item-title">
              Indywidualne podejście do każdego gracza
            </h3>
            <p class="mission-item-text">
              Programy dostosowane do poziomu umiejętności.
            </p>
          </div>
        </li>
        <li class="mission-list-item">
          <span class="mission-item-number">(04)</span>
          <div class="mission-item-text-wrapper">
            <h3 class="mission-item-title">
              Przygotowanie do światowej sceny e-sportu
            </h3>
            <p class="mission-item-text">
              Taktyki, analizy i strategie gry na najwyższym poziomie.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
