<section class="path-section" id="path">
  <div class="container">
    <div class="path-top-wrapper">
      <div class="path-top-text-wrapper">
        <h2 class="section-title path-title">Ścieżka</h2>
        <p class="path-subtitle">Myślenie to broń. Decyzja to sztuka.</p>
        <p class="path-text">
          StormMasterPath to filozofia życia, która uczy, jak kształtować
          decyzje, projektować przyszłość i działać świadomie w zmieniającym się
          świecie.
        </p>
      </div>
      <picture>
        <source
          srcset="./img/path/path-img-desk.png"
          media="(min-width: 1440px)"
          width="448"
          height="255"
        />
        <source srcset="./img/path/path-img-mob.png" width="343" height="238" />
        <img
          class="path-img"
          src="./img/path/path-img-mob.png"
          alt="Photo of equipment"
          width="343"
          height="238"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="path-bottom-wrapper">
      <p class="path-bottom-text">Moduły samoświadomości</p>
      <ul class="path-list">
        <li class="path-list-item">
          <svg class="path-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
          <p class="path-item-text">Mapowanie decyzji i ramy mentalne</p>
        </li>
        <li class="path-list-item">
          <svg class="path-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
          <p class="path-item-text">
            Narzędzia do strategicznego projektowania życia (osobiste i
            zawodowe)
          </p>
        </li>
        <li class="path-list-item">
          <svg class="path-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-ellipse"></use>
          </svg>
          <p class="path-item-text">
            Oparte na filozofii, psychologii i myśleniu systemowym
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
