<section class="prices-section" id="prices">
  <div class="prices-top-wrapper">
    <div class="container">
      <h2 class="prices-title">
        <svg class="arrow-icon" width="8" height="8">
          <use href="./img/sprite.svg#icon-ellipse-white"></use></svg
        >Członkostwo i ceny
      </h2>
      <p class="prices-subtitle">Dostosowane pakiety dla każdego gracza</p>
    </div>
  </div>
  <div class="prices-bottom-wrapper">
    <div class="container prices-bottom-container">
      <ul class="prices-list">
        <li class="prices-list-item">
          <h3 class="prices-item-title">Karnet miesięczny</h3>
          <p class="prices-item-text">
            Dostęp do sprzętu, otwartych sesji treningowych i wydarzeń
            społecznościowych.
          </p>
          <div class="prices-img-wrapper">
            <img
              class="prices-img"
              src="./img/prices/prices-number-1.png"
              alt="Number 1"
              width="120"
              height="120"
              loading="lazy"
            />
          </div>
        </li>
        <li class="prices-list-item">
          <h3 class="prices-item-title">Indywidualne szkolenia</h3>
          <p class="prices-item-text">
            Specjalistyczne sesje 1:1 z profesjonalnym trenerem.
          </p>
          <div class="prices-img-wrapper">
            <img
              class="prices-img"
              src="./img/prices/prices-number-2.png"
              alt="Number 2"
              width="120"
              height="120"
              loading="lazy"
            />
          </div>
        </li>
        <li class="prices-list-item">
          <h3 class="prices-item-title">Pakiet premium dla zawodowców</h3>
          <p class="prices-item-text">
            Pełny dostęp do wszystkich programów, analiz i turniejów.
          </p>
          <div class="prices-img-wrapper">
            <img
              class="prices-img"
              src="./img/prices/prices-number-3.png"
              alt="Number 3"
              width="120"
              height="120"
              loading="lazy"
            />
          </div>
        </li>
        <li class="prices-list-item">
          <h3 class="prices-item-title">Kursy dla streamerów i twórców</h3>
          <p class="prices-item-text">
            Dedykowane szkolenia w zakresie budowania wizerunku online.
          </p>
          <div class="prices-img-wrapper">
            <img
              class="prices-img"
              src="./img/prices/prices-number-4.png"
              alt="Number 4"
              width="120"
              height="120"
              loading="lazy"
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
