<section class="policy-section">
  <div class="container policy-container">
    <h1 class="policy-title">Polityka prywatności</h1>
    <p class="policy-text">
      Niniejsza Polityka prywatności opisuje nasze zasady i procedury dotyczące
      gromadzenia, wykorzystywania i ujawniania Twoich informacji podczas
      korzystania z Usługi oraz informuje Cię o Twoich prawach do prywatności i
      sposobie, w jaki prawo Cię chroni.  Wykorzystujemy Twoje dane osobowe w
      celu świadczenia i ulepszania Usługi. Korzystając z Usługi, zgadzasz się
      na gromadzenie i wykorzystywanie informacji zgodnie z niniejszą Polityką
      prywatności.
    </p>
    <h2 class="policy-secondary-title">Interpretacja i definicje</h2>
    <h3 class="policy-subtitle">Interpretacja</h3>
    <p class="policy-text">
      Słowa, których pierwsza litera jest pisana wielką literą, mają znaczenie
      zdefiniowane na następujących warunkach. Poniższe definicje mają to samo
      znaczenie niezależnie od tego, czy występują w liczbie pojedynczej czy
      mnogiej.
    </p>
    <h3 class="policy-subtitle">Definicje</h3>
    <p class="policy-text">
      Na potrzeby niniejszej Polityki prywatności:<br />
      <span>&ensp;·&ensp;</span>Konto oznacza unikalne konto utworzone dla
      Ciebie w celu dostępu do naszej Usługi lub części naszej Usługi.<br />
      <span>&ensp;·&ensp;</span>Podmiot stowarzyszony oznacza podmiot, który
      kontroluje, jest kontrolowany przez lub jest pod wspólną kontrolą ze
      stroną, gdzie „kontrola” oznacza posiadanie 50% lub więcej akcji, udziałów
      kapitałowych lub innych papierów wartościowych uprawniających do
      głosowania w wyborach dyrektorów lub innych organów zarządzających.<br />
      <span>&ensp;·&ensp;</span>Firma (określana w niniejszej Umowie jako
      „Firma”, „My”, „Nas” lub „Nasz”) odnosi się do Epic Victory Hub.<br />
      <span>&ensp;·&ensp;</span>Pliki cookie to małe pliki umieszczane na Twoim
      komputerze, urządzeniu mobilnym lub innym urządzeniu przez witrynę
      internetową, zawierające szczegóły Twojej historii przeglądania tej
      witryny internetowej wśród jej wielu zastosowań.<br />
      <span>&ensp;·&ensp;</span>Kraj odnosi się do: Polska.<br />
      <span>&ensp;·&ensp;</span>Urządzenie oznacza każde urządzenie, które może
      uzyskać dostęp do Usługi, takie jak komputer, telefon komórkowy lub tablet
      cyfrowy.<br />
      <span>&ensp;·&ensp;</span>Dane osobowe to wszelkie informacje odnoszące
      się do zidentyfikowanej lub możliwej do zidentyfikowania osoby.<br />
      <span>&ensp;·&ensp;</span>Usługa odnosi się do Witryny.<br />
      <span>&ensp;·&ensp;</span>Dostawca usługi oznacza każdą osobę fizyczną lub
      prawną, która przetwarza dane w imieniu Spółki. Odnosi się do firm
      zewnętrznych lub osób zatrudnionych przez Spółkę w celu ułatwienia Usługi,
      świadczenia Usługi w imieniu Spółki, wykonywania usług związanych z Usługą
      lub pomagania Spółce w analizowaniu sposobu korzystania z Usługi.<br />
      <span>&ensp;·&ensp;</span>Dane dotyczące użytkowania odnoszą się do danych
      zbieranych automatycznie, generowanych przez korzystanie z Usługi lub z
      samej infrastruktury Usługi (na przykład czas trwania wizyty na
      stronie).<br />
      <span>&ensp;·&ensp;</span>Strona internetowa odnosi się do Epic Victory
      Hub, dostępnej z epicvictoryhub.com<br />
      <span>&ensp;·&ensp;</span>Ty oznacza osobę uzyskującą dostęp do Usługi lub
      korzystającą z niej, lub firmę lub inny podmiot prawny, w imieniu którego
      taka osoba uzyskuje dostęp do Usługi lub z niej korzysta, w stosownych
      przypadkach. 
    </p>
    <h2 class="policy-secondary-title">
      Gromadzenie i wykorzystywanie Twoich danych osobowych
    </h2>
    <h3 class="policy-subtitle">Rodzaje gromadzonych danych</h3>
    <p class="policy-text">
      Dane osobowe Podczas korzystania z Naszej Usługi możemy poprosić Cię o
      podanie nam pewnych danych osobowych, które mogą być wykorzystane do
      skontaktowania się z Tobą lub zidentyfikowania Cię. Dane osobowe mogą
      obejmować, ale nie ograniczają się do:<br />
      <span>&ensp;·&ensp;</span>Dane o użytkowaniu Dane o użytkowaniu Dane o
      użytkowaniu są zbierane automatycznie podczas korzystania z Usługi.<br />
      Dane o użytkowaniu mogą obejmować informacje takie jak adres protokołu
      internetowego Twojego urządzenia (np. adres IP), typ przeglądarki, wersja
      przeglądarki, strony naszej Usługi, które odwiedzasz, czas i datę wizyty,
      czas spędzony na tych stronach, unikalne identyfikatory urządzeń i inne
      dane diagnostyczne.<br />
      Gdy uzyskujesz dostęp do Usługi za pomocą lub za pośrednictwem urządzenia
      mobilnego, możemy zbierać pewne informacje automatycznie, w tym, ale nie
      ograniczając się do, rodzaju używanego urządzenia mobilnego, Twojego
      mobile device unique ID, adres IP Twojego urządzenia mobilnego, Twój
      system operacyjny, typ używanej przez Ciebie mobilnej przeglądarki
      internetowej, unikalne identyfikatory urządzeń i inne dane
      diagnostyczne.<br />
      Możemy również zbierać informacje, które Twoja przeglądarka wysyła, gdy
      odwiedzasz naszą Usługę lub gdy uzyskujesz dostęp do Usługi za pomocą lub
      za pośrednictwem urządzenia mobilnego.<br />
      Technologie śledzenia i pliki cookie Używamy plików cookie i podobnych
      technologii śledzenia, aby śledzić aktywność w Naszej Usłudze i
      przechowywać określone informacje. Używane technologie śledzenia to
      sygnały nawigacyjne, znaczniki i skrypty do zbierania i śledzenia
      informacji oraz ulepszania i analizowania Naszej Usługi. Technologie,
      których używamy, mogą obejmować:<br />
      <span>&ensp;·&ensp;</span>Pliki cookie lub pliki cookie przeglądarki. Plik
      cookie to mały plik umieszczony na Twoim Urządzeniu. Możesz poinstruować
      swoją przeglądarkę, aby odrzucała wszystkie Pliki cookie lub wskazywała,
      kiedy plik cookie jest wysyłany. Jeśli jednak nie akceptujesz plików
      cookie, możesz nie być w stanie korzystać z niektórych części naszej
      Usługi. Jeśli nie zmieniłeś ustawień swojej przeglądarki tak, aby
      odrzucała pliki cookie, nasza Usługa może używać plików cookie.<br />
      <span>&ensp;·&ensp;</span>Sygnały nawigacyjne. Niektóre sekcje naszej
      Usługi i nasze wiadomości e-mail mogą zawierać małe pliki elektroniczne
      znane jako sygnały nawigacyjne (nazywane również przezroczystymi plikami
      gif, znacznikami pikselowymi i pojedynczymi pikselami gif), które
      umożliwiają Spółce na przykład zliczanie użytkowników, którzy odwiedzili
      te strony lub otworzyli wiadomość e-mail, a także inne powiązane
      statystyki witryny (na przykład rejestrowanie popularności określonej
      sekcji i weryfikacja integralności systemu i serwera).<br />
      Pliki cookie mogą być plikami cookie „trwałymi” lub „sesyjnymi”. Trwałe
      pliki cookie pozostają na Twoim komputerze osobistym lub urządzeniu
      mobilnym, gdy przejdziesz w tryb offline, podczas gdy pliki cookie sesyjne
      są usuwane natychmiast po zamknięciu przeglądarki internetowej.<br />
      Używamy zarówno plików cookie sesyjnych, jak i trwałych w celach
      określonych poniżej:<br />
      <span>&ensp;·&ensp;</span>Niezbędne pliki cookie Typ: Pliki cookie sesyjne
      Administrator: My Cel: Te pliki cookie są niezbędne do świadczenia usług
      dostępnych za pośrednictwem Witryny i umożliwienia korzystania z
      niektórych jej funkcji. Pomagają uwierzytelniać użytkowników i zapobiegać
      oszukańczemu korzystaniu z kont użytkowników. Bez tych plików cookie nie
      można świadczyć usług, o które poprosiłeś, a my używamy tych plików cookie
      wyłącznie do świadczenia Tobie tych usług.<br />
      <span>&ensp;·&ensp;</span>Polityka plików cookie / Powiadomienie o
      akceptacji plików cookie<br />
      Typ: Trwałe pliki cookie<br />
      Administrator: Nas<br />
      Cel: Te pliki cookie identyfikują, czy użytkownicy zaakceptowali używanie
      plików cookie w Witrynie.<br />
      <span>&ensp;·&ensp;</span>Pliki cookie funkcjonalne<br />
      Typ: Trwałe pliki cookie<br />
      Administrator: Nas<br />
      Cel: Te pliki cookie pozwalają nam zapamiętać wybory, których dokonujesz
      podczas korzystania z Witryny, takie jak zapamiętywanie danych logowania
      lub preferencji językowych. Celem tych plików cookie jest zapewnienie Ci
      bardziej osobistego doświadczenia i uniknięcie konieczności ponownego
      wprowadzania preferencji za każdym razem, gdy korzystasz z Witryny.<br />
      Aby uzyskać więcej informacji na temat plików cookie, których używamy, i
      Twoich wyborów dotyczących plików cookie, zapoznaj się z naszą Polityką
      plików cookie lub sekcją Pliki cookie w naszej Polityce prywatności. 
    </p>
    <h3 class="policy-subtitle">Wykorzystanie Twoich danych osobowych</h3>
    <p class="policy-text">
      Firma może wykorzystywać dane osobowe do następujących celów:<br />
      <span>&ensp;·&ensp;</span>Aby świadczyć i utrzymywać naszą Usługę, w tym
      monitorować korzystanie z naszej Usługi.<br />
      <span>&ensp;·&ensp;</span>Aby zarządzać Twoim kontem: aby zarządzać Twoją
      rejestracją jako użytkownika Usługi. Podane przez Ciebie dane osobowe mogą
      zapewnić Ci dostęp do różnych funkcjonalności Usługi, które są dostępne
      dla Ciebie jako zarejestrowanego użytkownika.<br />
      <span>&ensp;·&ensp;</span>W celu wykonania umowy: opracowanie,
      przestrzeganie i realizacja umowy zakupu produktów, przedmiotów lub usług,
      które kupiłeś lub jakiejkolwiek innej umowy z nami za pośrednictwem
      Usługi.<br />
      <span>&ensp;·&ensp;</span>Aby się z Tobą skontaktować: Aby się z Tobą
      skontaktować za pośrednictwem poczty e-mail, rozmów telefonicznych, SMS-ów
      lub innych równoważnych form komunikacji elektronicznej, takich jak
      powiadomienia push aplikacji mobilnej dotyczące aktualizacji lub
      komunikatów informacyjnych związanych z funkcjonalnościami, produktami lub
      zakontraktowanymi usługami, w tym aktualizacjami zabezpieczeń, gdy jest to
      konieczne lub uzasadnione w celu ich wdrożenia.<br />
      <span>&ensp;·&ensp;</span>Aby zapewnić Ci wiadomości, oferty specjalne i
      ogólne informacje o innych oferowanych przez nas towarach, usługach i
      wydarzeniach, które są podobne do tych, które już kupiłeś lub o które
      pytałeś, chyba że zdecydowałeś się nie otrzymywać takich informacji.<br />
      <span>&ensp;·&ensp;</span>Aby zarządzać Twoimi prośbami: Aby odpowiadać na
      Twoje prośby do nas i nimi zarządzać.<br />
      <span>&ensp;·&ensp;</span>W przypadku przeniesienia działalności: Możemy
      wykorzystywać Twoje informacje do oceny lub przeprowadzenia fuzji,
      sprzedaży, restrukturyzacji, reorganizacji, rozwiązania lub innej
      sprzedaży lub przeniesienia części lub całości Naszych aktywów, czy to
      jako przedsiębiorstwo działające, czy jako część upadłości, likwidacji lub
      podobnego postępowania, w którym Dane Osobowe, które posiadamy na temat
      naszych użytkowników Usługi, są wśród przenoszonych aktywów.<br />
      <span>&ensp;·&ensp;</span>W innych celach: Możemy wykorzystywać Twoje
      informacje do innych celów, takich jak analiza danych, identyfikacja
      trendów użytkowania, określanie skuteczności naszych kampanii promocyjnych
      oraz ocena i ulepszanie naszej Usługi, produktów, usług, marketingu i
      Twojego doświadczenia.<br />
      Możemy udostępniać Twoje dane osobowe w następujących sytuacjach:<br />
      <span>&ensp;·&ensp;</span>Dostawcom usług: Możemy udostępniać Twoje dane
      osobowe Dostawcom usług w celu monitorowania i analizowania korzystania z
      naszej Usługi, aby się z Tobą skontaktować.<br />
      <span>&ensp;·&ensp;</span>W przypadku przeniesienia działalności: Możemy
      udostępniać lub przenosić Twoje dane osobowe w związku z lub podczas
      negocjacji fuzji, sprzedaży aktywów Spółki, finansowania lub przejęcia
      całości lub części Naszej działalności przez inną spółkę.<br />
      <span>&ensp;·&ensp;</span>Podmiotom stowarzyszonym: Możemy udostępniać
      Twoje dane naszym podmiotom stowarzyszonym, w takim przypadku będziemy
      wymagać od tych podmiotów stowarzyszonych przestrzegania niniejszej
      Polityki prywatności. Podmioty stowarzyszone obejmują naszą spółkę
      dominującą i wszelkie inne spółki zależne, partnerów joint venture lub
      inne spółki, które kontrolujemy lub które są pod wspólną kontrolą z
      nami.<br />
      <span>&ensp;·&ensp;</span>Z partnerami biznesowymi: Możemy udostępniać
      Twoje dane naszym partnerom biznesowym, aby oferować Ci określone
      produkty, usługi lub promocje.<br />
      <span>&ensp;·&ensp;</span>Z innymi użytkownikami: gdy udostępniasz dane
      osobowe lub w inny sposób wchodzisz w interakcję w obszarach publicznych z
      innymi użytkownikami, takie informacje mogą być widoczne dla wszystkich
      użytkowników i mogą być publicznie rozpowszechniane poza.<br />
      <span>&ensp;·&ensp;</span>Za Twoją zgodą: Możemy ujawniać Twoje dane
      osobowe w dowolnym innym celu za Twoją zgodą. 
    </p>
    <h3 class="policy-subtitle">Przechowywanie Twoich danych osobowych</h3>
    <p class="policy-text">
      Spółka będzie przechowywać Twoje dane osobowe tylko tak długo, jak będzie
      to konieczne do celów określonych w niniejszej Polityce prywatności.
      Będziemy przechowywać i wykorzystywać Twoje dane osobowe w zakresie
      niezbędnym do wypełnienia naszych zobowiązań prawnych (na przykład, jeśli
      jesteśmy zobowiązani do przechowywania Twoich danych, aby przestrzegać
      obowiązujących przepisów), rozstrzygać spory i egzekwować nasze prawne
      umowy i zasady.<br />
      Firma będzie również przechowywać Dane użytkowania do celów analizy
      wewnętrznej. Dane użytkowania są zazwyczaj przechowywane przez krótszy
      okres czasu, z wyjątkiem sytuacji, gdy dane te są wykorzystywane do
      wzmocnienia bezpieczeństwa lub poprawy funkcjonalności Naszej Usługi lub
      gdy jesteśmy prawnie zobowiązani do przechowywania tych danych przez
      dłuższe okresy czasu. 
    </p>
    <h3 class="policy-subtitle">Przekazywanie Twoich Danych Osobowych</h3>
    <p class="policy-text">
      Twoje informacje, w tym Dane Osobowe, są przetwarzane w biurach
      operacyjnych Firmy i w innych miejscach, w których znajdują się strony
      zaangażowane w przetwarzanie. Oznacza to, że te informacje mogą być
      przesyłane do — i przechowywane na — komputerach znajdujących się poza
      Twoim stanem, prowincją, krajem lub inną jurysdykcją rządową, w której
      przepisy o ochronie danych mogą różnić się od przepisów obowiązujących w
      Twojej jurysdykcji.<br />
      Twoja zgoda na niniejszą Politykę Prywatności, po której następuje
      przesłanie takich informacji, oznacza YoTwoja zgoda na takie
      przekazanie.<br />
      Firma podejmie wszelkie uzasadnione kroki, aby zapewnić, że Twoje dane
      będą traktowane bezpiecznie i zgodnie z niniejszą Polityką prywatności, a
      żadne przekazanie Twoich Danych osobowych nie nastąpi do organizacji lub
      kraju, chyba że istnieją odpowiednie środki kontroli, w tym bezpieczeństwo
      Twoich danych i innych informacji osobistych. 
    </p>
    <h3 class="policy-subtitle">Usuń swoje dane osobowe</h3>
    <p class="policy-text">
      Masz prawo usunąć lub poprosić nas o pomoc w usunięciu Danych osobowych,
      które zebraliśmy na Twój temat.<br />
      Nasza Usługa może dać Ci możliwość usunięcia niektórych informacji o Tobie
      z Usługi.<br />
      Możesz zaktualizować, zmienić lub usunąć swoje informacje w dowolnym
      momencie, logując się na swoje Konto, jeśli je posiadasz, i odwiedzając
      sekcję ustawień konta, która umożliwia zarządzanie Twoimi danymi
      osobowymi. Możesz również skontaktować się z nami, aby poprosić o dostęp,
      poprawienie lub usunięcie wszelkich danych osobowych, które nam
      przekazałeś.<br />
      Należy jednak pamiętać, że możemy musieć zachować pewne informacje, gdy
      mamy prawny obowiązek lub podstawę prawną, aby to zrobić. 
    </p>
    <h3 class="policy-subtitle">Ujawnianie Twoich Danych Osobowych</h3>
    <p class="policy-text">
      Transakcje Biznesowe Jeśli Spółka jest zaangażowana w fuzję, przejęcie lub
      sprzedaż aktywów, Twoje Dane Osobowe mogą zostać przekazane. Powiadomimy
      Cię przed przekazaniem Twoich Danych Osobowych i objęciem ich inną
      Polityką Prywatności.<br />
      Organy ścigania W pewnych okolicznościach Spółka może być zobowiązana do
      ujawnienia Twoich Danych Osobowych, jeśli wymaga tego prawo lub w
      odpowiedzi na uzasadnione żądania organów publicznych (np. sądu lub
      agencji rządowej).<br />
      Inne wymogi prawne Spółka może ujawnić Twoje Dane Osobowe w dobrej wierze,
      jeśli uzna, że takie działanie jest konieczne, aby:<br />
      <span>&ensp;·&ensp;</span>Przestrzegać obowiązku prawnego<br />
      <span>&ensp;·&ensp;</span>Ochrona i obrona praw lub własności Spółki<br />
      <span>&ensp;·&ensp;</span>
      Zapobieganie lub badanie możliwych naruszeń w związku z Usługą<br />
      <span>&ensp;·&ensp;</span>Ochrona osobistego bezpieczeństwa Użytkowników
      Usługi lub społeczeństwa<br />
      <span>&ensp;·&ensp;</span>Ochrona przed odpowiedzialnością prawną
    </p>
    <h3 class="policy-subtitle">Bezpieczeństwo Twoich Danych Osobowych</h3>
    <p class="policy-text">
      Bezpieczeństwo Twoich Danych Osobowych jest dla Nas ważne, ale pamiętaj,
      że żadna metoda transmisji przez Internet ani metoda elektronicznego
      przechowywania nie jest w 100% bezpieczna. Chociaż staramy się stosować
      komercyjnie akceptowalne środki w celu ochrony Twoich Danych Osobowych,
      nie możemy zagwarantować ich absolutnego bezpieczeństwa. 
    </p>
    <h2 class="policy-secondary-title">Prywatność dzieci</h2>
    <p class="policy-text">
      Nasza Usługa nie jest skierowana do osób poniżej 13 roku życia. Nie
      świadomie zbieramy danych osobowych od osób poniżej 13 roku życia. Jeśli
      jesteś rodzicem lub opiekunem i wiesz, że Twoje dziecko przekazało Nam
      Dane Osobowe, skontaktuj się z Nami. Jeśli dowiemy się, że zebraliśmy Dane
      Osobowe od osób poniżej 13 roku życia bez weryfikacji zgody
      rodzicielskiej, podejmiemy kroki w celu usunięcia tych informacji z
      Naszych serwerów.<br />
      Jeśli musimy polegać na zgodzie jako podstawie prawnej przetwarzania
      Twoich informacji, a Twój kraj wymaga zgody rodzica, możemy wymagać zgody
      Twojego rodzica przed zebraniem i wykorzystaniem tych informacji. 
    </p>
    <h2 class="policy-secondary-title">Linki do innych witryn</h2>
    <p class="policy-text">
      Nasza Usługa może zawierać linki do innych witryn, które nie są przez Nas
      obsługiwane. Jeśli klikniesz link strony trzeciej, zostaniesz
      przekierowany do witryny tej strony trzeciej. Zdecydowanie zalecamy
      zapoznanie się z Polityką prywatności każdej odwiedzanej witryny.<br />
      Nie mamy kontroli nad treścią, polityką prywatności ani praktykami stron
      lub usług stron trzecich i nie ponosimy za nie żadnej odpowiedzialności. 
    </p>
    <h2 class="policy-secondary-title">
      Zmiany w niniejszej Polityce prywatności
    </h2>
    <p class="policy-text">
      Możemy od czasu do czasu aktualizować naszą Politykę prywatności.
      Powiadomimy Cię o wszelkich zmianach, publikując nową Politykę prywatności
      na tej stronie.<br />
      Poinformujemy Cię o tym za pośrednictwem poczty e-mail i/lub widocznego
      powiadomienia w naszej Usłudze, przed wejściem zmiany w życie i
      zaktualizujemy datę „Ostatniej aktualizacji” na górze niniejszej Polityki
      prywatności.<br />
      Zalecamy okresowe przeglądanie niniejszej Polityki prywatności pod kątem
      wszelkich zmian. Zmiany w niniejszej Polityce prywatności wchodzą w życie
      z chwilą ich opublikowania na tej stronie.<br />
      Niniejsza polityka prywatności obowiązuje od 2025-04-01 
    </p>
    <h2 class="policy-secondary-title">Skontaktuj się z nami</h2>
    <p class="policy-text">
      Jeśli masz jakiekolwiek pytania dotyczące niniejszej Polityki prywatności,
      możesz się z nami skontaktować za pośrednictwem poczty e-mail:<br />
      <a class="support-link" href="mailto:info@epicvictoryhub.com"
        >info@epicvictoryhub.com</a
      >.
    </p>
  </div>
</section>
