<section class="programs-section" id="programs">
  <div class="programs-top-wrapper">
    <div class="container programs-top-container">
      <h2 class="programs-title">
        <svg class="arrow-icon" width="8" height="8">
          <use href="./img/sprite.svg#icon-ellipse-white"></use></svg
        >Programy szkoleniowe
      </h2>
      <p class="programs-subtitle">
        Profesjonalne ścieżki rozwoju dla każdego poziomu
      </p>
    </div>
  </div>
  <div class="programs-bottom-wrapper">
    <div class="programs-bottom-swiper-wrapper">
      <div class="programs-swiper-container">
        <ul class="swiper-wrapper programs-swiper-wrapper">
          <li class="swiper-slide programs-slide">
            <div class="programs-slide-wrapper">
              <p class="programs-slide-top-text">6 tygodni</p>
              <div class="programs-img-wrapper">
                <img
                  class="programs-slide-img"
                  src="./img/programs/programs-img1-mob.png"
                  alt="Picture of figure"
                  width="97"
                  height="100"
                />
              </div>
              <div class="programs-slide-text-wrapper">
                <h2 class="programs-item-subtitle">
                  Podstawowy kurs dla amatorów
                </h2>
                <p class="programs-item-text">
                  Nauka podstawowych mechanik gier, refleksu i koordynacji.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide programs-slide">
            <div class="programs-slide-wrapper">
              <p class="programs-slide-top-text">10 tygodni</p>
              <div class="programs-img-wrapper">
                <img
                  class="programs-slide-img"
                  src="./img/programs/programs-img2-mob.png"
                  alt="Picture of figure"
                  width="97"
                  height="100"
                />
              </div>
              <div class="programs-slide-text-wrapper">
                <h2 class="programs-item-subtitle">Kurs zaawansowany</h2>
                <p class="programs-item-text">
                  Analiza rozgrywek, strategie, optymalizacja decyzji w trakcie
                  gry.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide programs-slide">
            <div class="programs-slide-wrapper">
              <p class="programs-slide-top-text">12 tygodni</p>
              <div class="programs-img-wrapper">
                <img
                  class="programs-slide-img programs-img3"
                  src="./img/programs/programs-img3-mob.png"
                  alt="Picture of figure"
                  width="116"
                  height="100"
                />
              </div>
              <div class="programs-slide-text-wrapper">
                <h2 class="programs-item-subtitle">
                  Intensywny program dla przyszłych zawodowców
                </h2>
                <p class="programs-item-text">
                  Kompleksowe szkolenie turniejowe, przygotowanie psychiczne i
                  techniczne.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide programs-slide">
            <div class="programs-slide-wrapper">
              <p class="programs-slide-top-text">-</p>
              <div class="programs-img-wrapper">
                <img
                  class="programs-slide-img programs-img4"
                  src="./img/programs/programs-img4-mob.png"
                  alt="Picture of figure"
                  width="99"
                  height="100"
                />
              </div>
              <div class="programs-slide-text-wrapper">
                <h2 class="programs-item-subtitle">
                  Kurs dla streamerów i twórców treści
                </h2>
                <p class="programs-item-text">
                  Jak zbudować własną markę w świecie gier i rozwijać
                  społeczność.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide programs-slide">
            <div class="programs-slide-wrapper">
              <p class="programs-slide-top-text">-</p>
              <div class="programs-img-wrapper">
                <img
                  class="programs-slide-img programs-img5"
                  src="./img/programs/programs-img5-mob.png"
                  alt="Picture of figure"
                  width="105"
                  height="100"
                />
              </div>
              <div class="programs-slide-text-wrapper">
                <h2 class="programs-item-subtitle">
                  Przygotowanie do turniejów e-sportowych
                </h2>
                <p class="programs-item-text">
                  Specjalistyczne treningi skoncentrowane na grze w warunkach
                  turniejowych.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
